$breakpoints: (
  s: 576px,
  m: 768px,
  l: 992,
  xl: 1200px,
);

@mixin s {
  @media (min-width: map-get($breakpoints, s)) {
    @content;
  }
}

@mixin m {
  @media (min-width: map-get($breakpoints, m)) {
    @content;
  }
}

@mixin l {
  @media (min-width: map-get($breakpoints, l)) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, xl)) {
    @content;
  }
}
