$primaryColor: rgb(249, 33, 46);
$primaryColorLight: rgba(255, 33, 46, 0.8);
$secondaryColor: rgb(31, 31, 31);
$secondaryColorLight: rgba(31, 31, 31, 0.8);
$thirdColor: rgb(255, 255, 255);
$thirdColorLight: rgb(255, 255, 255, 0.8);

$birdsPolicy: "birdsOfParadise", serif, sans-serif;
$impactPolicy: "impact", serif, sans-serif;
$impactLabelReversed: "impactLabelReversed", serif, sans-serif;

$crashCarAnimationTime: 1s;

$sizeVis: 15px;

$headerHeight: 70px;
$btMenuWidth: 125px;
